/* Box Sizing */

html {
    box-sizing: border-box;
}

header h1{
    font-size:40px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

nav ul{
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

#content h2{
    display:block;
    font-size:22px;
    margin-left:auto;
    margin-right:auto;
}

#content iframe{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    height:500px;
}