/* Box Sizing */

html {
    box-sizing: border-box;
}

body{
    background-color:yellow;
}

#content iframe{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    height:500px;
}